<!DOCTYPE html>
<html>
<head>
    <title>Certificate Expiration Counts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Certificate Expiration Counts</h1>
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Monthly Expiration Counts</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for count in monthly_counts %}
                        <tr>
                            <td>{{ count.month|date:"F Y" }}</td>
                            <td>{{ count.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Yearly Expiration Counts</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for count in yearly_counts %}
                        <tr>
                            <td>{{ count.year }}</td>
                            <td>{{ count.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
